a,
li {
  text-decoration: none;
  list-style: none;
  width: 100%;
}
header {
  width: auto;
  overflow: hidden;
  position: relative;
}

.main-navbar {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 0%;
  padding: 10px 10px;
  transition: 0.6s;
  position: fixed;
  overflow: hidden;
  background-color: rgb(245, 189, 79);
  width: 100%;
  top: 0;
  font-size: 20px;
  z-index: 99;
}
.nav-head {
  margin: 20px 0;
  color: rgb(0, 32, 43);
  width: 40%;
}
.nav-div {
  width: 60%;
}
.nav-ul {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 20px 0;
}
.nav-ul li {
  margin: 0 20px;
}

.nav-ul li a {
  color: rgb(0, 32, 43);
}
.nav-ul li a:hover {
  border-bottom: white 4px double;
  border-top: white 4px double;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: left;
  margin-top: 15px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media only screen and (max-width: 1440px) {
  .nav-ul {
    margin: 15px 0;
  }
  .nav-div {
    width: 50%;
  }
}
@media only screen and (max-width: 1024px) {
  .nav-head {
    margin: 15px 0;
  }
  .link {
    height: 30px;
  }
  .nav-ul {
    margin: 15px 0;
  }
  .nav-div {
    width: 50%;
  }
  .nav-ul li {
    margin: 0 5px;
  }
}
@media only screen and (max-width: 768px) {
  @import url(../js/tablet.js);
  .nav-ul {
    margin: 15px 0;
  }
  .nav-div {
    width: 100%;
    position: fixed;
    top: -100%;
    left: 0;
    background-color: rgb(245, 189, 79);
    transition: all 0.5s;
  }
  .checkbtn {
    display: block;
  }
  #check:checked + .nav-div {
    top: 80px;
    background-color: white;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav-ul {
    margin: 15px 0;
    display: grid;
  }
  .nav-ul li {
    padding-top: 10px;
  }
  .nav-div {
    border: 2px rgb(0, 32, 43) solid;
    border-radius: 7px;
    margin-left: 25%;
    width: 50%;
    position: fixed;
    top: 80px;
    left: -100%;
    background-color: rgb(245, 189, 79);
    transition: all 0.5s;
  }
  .checkbtn {
    display: block;
  }
  #check:checked + .nav-div {
    left: 0;
    background-color: white;
  }
}
