.portfolio {
  width: 100%;
  height: auto;
  /* background-color: gainsboro; */
  background-color: gainsboro;
  text-align: center;
  color: black;
}
.box {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.title {
  padding-top: 80px;
}
.left {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border-right: white 1px solid;
}
.right {
  width: 600px;
  margin: 10px;
  padding: 10px;
  text-align: left;
}
.icons {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: black 1px solid;
  border-radius: 50%;
  margin-left: -320px;
  background-color: black;
}
.icons i {
  color: white;
}

@media only screen and (max-width: 600px) {
  .icons {
    margin-left: -140px;
  }
  .title {
    margin-left: -200px;
  }
  .box {
    width: 70%;
  }
}
@media only screen and (max-width: 350px) {
  .icons {
    margin-left: -110px;
  }
  .title {
    margin-left: -275px;
  }
  .box {
    width: 55%;
  }
}
