.technology {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 90px;
  margin-bottom: 90px;
}
.box-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}
.bar-boxes {
  width: 100%;
  height: auto;
  background-color: rgba(99, 173, 161, 0.377);
  margin: 10px;
  padding: 10px;
}
.bar {
  width: 100%;
  background-color: #ddd;
  animation: move 4s linear 5s infinite alternate;
  animation-timing-function: ease;
  border-radius: 10px;
}
.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  border-radius: 10px;
}

.html {
  width: 80%;
  background-color: #04aa6d;
}

.css {
  width: 50%;
  background-color: #2196f3;
}
.js {
  width: 40%;
  background-color: #f5493d;
}
.angular {
  width: 50%;
  background-color: rgb(39, 212, 183);
}
.py {
  width: 40%;
  background-color: rgb(252, 0, 210);
}

@keyframes move {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .box-container {
    display: grid;
  }
  .tech {
    margin-left: -150px;
  }
  .bar-boxes {
    width: 250px;
  }
}
@media only screen and (max-width: 375px) {
  .tech {
    margin-left: -220px;
  }

  .bar-boxes {
    width: 200px;
  }
}
@media only screen and (max-width: 350px) {
  .tech {
    margin-left: -270px;
    font-size: 24px;
  }

  .bar-boxes {
    width: 125px;
  }
}
